<section class='training-session-container'>
	<%= form_for [@event, @trainingsession] do |f| %>
	<%= f.label :details, "Keep your sponsers updated by telling them about your latest workout."%>
	<%= f.text_area :details %>
	<%= f.label :sessiondate, 'Workout date' %>
	<section class='training-date-display'>
		<%= f.date_select :sessiondate %>
	</section>
	<%= f.submit 'Add workout', id: 'add-workout-button' %>
	<%end%>
</section>