<!DOCTYPE html>
<html>
<head>

</head>

<body>
	<% if @users.any? %>
		<% @users.each do |user| %>
    <%= user.firstname.capitalize %> event's </br>
			<% user.events.each do |event| %>

        <%= link_to event.name.capitalize, event_path(event.id) %>
        <%= event.charity %>
        <%=  (event.event_date - Date.today).to_i %> days to go!
        <%= event.percentage_of_target %>% complete
			<% end %>
		<% end %>
	<% end %>



</body>

</html>
