<!DOCTYPE html>
<html>
<head>

</head>

<body>
<section class='hp-upper-container'>
	<section class='hp-cover-image'>

		<section class="main-image-search">
      <section class="user_management">
      <% if user_signed_in? %>
          Logged in as <%= current_user.email %>
          <%= link_to 'SIGN OUT', destroy_user_session_path, method: :delete, class: 'lets_go-button', id:'sign_out'%>
      <% end %>
      </section>
			<%= form_tag(users_path, :method => "get", id: "search-form") do %>
  			<%= text_field_tag :search, params[:search], class: 'find_person', placeholder: "LOOKING FOR SOMEONE..?" %>
  			<%= submit_tag "GO", id:'search_button' %>
			<% end %>
		</section>
			<h2 class='main-image-header'>WE MAKE GIVING FUN</h2>
			<h5 class='main-image-text'>COMPLETE CHALLENGES. SMASH TARGETS. </h5>
			<section class='cover-image-button-container'>
				<%= link_to "LET'S GO", select_events_path, class: 'lets_go-button' %>
			</section>
		</section>
	</section>



	<!-- <section class='hp-middle-container'>
		<section class="hp-extra-info-box">
			<article class="hp-extra-info" id="hp-tracking-training"></article>
			<p class="info-box-title">Show your sponsors commitment</p>
		</section>

		<section class="hp-extra-info-box">
			<article class="hp-extra-info" id="hp-setting-challenges"></article>
			<p class="info-box-title">Set challenges for friends</p>
		</section>

		<section class="hp-extra-info-box">
			<article class="hp-extra-info" id="hp-short-term-goals"></article>
			<p class="info-box-title">Stay motivated with short term goals</p>
		</section>

	</section>

	<section class='hp-lower-container'>


		<section class='hp-lower-right'>
			<section class='update-feed'>
				<article class='post-container'>
					<header class='post-header'>
            <section class='post-title'>
            	Challenges Completed
            </section>
          </header>
          <section class='post-content'>
          	<object class='uploaded-evidence'>

          	</object>
          	<article class='evidence-comments'>
          	</article>
          </section>
				</article>
			</section>
		</section>


	</section>
 -->
<!-- 	<section class='footer'>
	</section> -->


</body>

</html>