<%= link_to event_path(event), class: "event-container" do %>
  <h2><%= event.name%></h2>
  <p><%= icon('smile-o', event.user.full_name) %></p>
  <p><%= icon('calendar', event.event_date.strftime("%d %B %Y")) %></p>
  <p><%= icon('gift', event.charity) %></p>
  <section class="event-states">
    
  </section>
<% end %>