<%= link_to event_path(event), class: "event-container" do %>
  <h2><%= event.name%></h2>
  <p><%= icon('smile-o', event.user.full_name) %></p>
  <p><%= icon('calendar', event.event_date.strftime("%d %B %Y")) %></p>
  <p><%= icon('gift', event.charity) %></p>
  <section class="event-states">
    <ul>
      <li>
        <strong><%= event.percentage_of_target %> %</strong>
        Funded
      </li>
      <li>
        <strong>£<%= event.amount_raised.round %></strong>
        Donated
      </li>
      <li>
        <strong><%= (event.event_date - Date.today).to_i %></strong>
        days to go
      </li>
    </ul>
  </section>

  <!-- Targetbar -->
  <section class="mini-target-bar-container">
          <%= javascript_tag do %>
            amountRaised = "<%=j event.amount_raised.to_s %>";
            targetAmount = "<%=j event.target.to_s %>";
          <% end %>
        <div class="mini-target-wrap mini-progress" data-progress-percent="">
      <div class="mini-target-bar mini-progress">
    </div>
  </div>
</section>

<% end %>