<%= form_for @event do |f| %>
  <% if @event.errors.any? %>
    <article class="error_explaination">
    <%=pluralize(@event.errors.count, "error") %>
    prevented this event from being saved:
    <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%=message%></li>
      <%end%>
    </ul>
    </article>
  <%end%>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :event_date, 'Event Date' %>
  <%= f.date_select :event_date %>
  <%= f.label :charity %>
  <%= f.text_field :charity %>
  <%= f.label :target, 'Fundraising Target' %>
  <%= f.text_field :target %>
  <%= f.label :amount_raised, 'Amount Raised' %>
  <%= f.text_field :amount_raised %>

  <p>
  <%= f.label :training, "Workouts per Week"%><br>
    <%= f.radio_button(:training, 2, id:'2-workouts') %> 
    <%= f.label(:training, 2)%>
    <%= f.radio_button(:training, 3, id:'3-workouts') %> 
    <%= f.label(:training, 3)%>
    <%= f.radio_button(:training, 4, id:'4-workouts') %> 
    <%= f.label(:training, 4)%>
    <%= f.radio_button(:training, 5, id:'5-workouts') %> 
    <%= f.label(:training, 5)%>
    <%= f.radio_button(:training, 6, id:'6-workouts') %> 
    <%= f.label(:training, 6)%>
</p>

  <%= f.submit %>
<% end %>