<section class='main-form-container'>
  <%= form_for @event do |f| %>
    <% if @event.errors.any? %>
    <section class='errors-container'>
      <article class="error-explanation">
        <p class='errors-title'>
          <%=pluralize(@event.errors.count, "error") %>
          prevented this event from being saved:
        </p>
        <ul class='error-message'>
          <% @event.errors.full_messages.each do |message| %>
            <li>- <%=message%></li>
          <%end%>
        </ul>
      </article>
    </section>
    <%end%>

    <section class="new-event-form">

    <p class='event-form-label'>
      <%= f.label :name %>
    </p>
      <%= f.text_field :name, class: 'event-form-input', placeholder: 'full name' %>

    <p class='event-form-label'>
      <%= f.label :event_date, 'Event Date' %>
    </p>
    <section class='date-select-container'>
      <%= f.date_select :event_date, class: 'event-form-input' %>
    </section>
    
    <p class='event-form-label'>
      <%= f.label :charity %>
    </p>
      <%= f.text_field :charity, class: 'event-form-input', placeholder: 'charity name' %>

    <p class='event-form-label'>
      <%= f.label :target, 'Fundraising Target' %>
    </p>

      <%= f.text_field :target, class: 'event-form-input', placeholder: "what's your target?" %>

    <p class='event-form-label'>
      <%= f.label :amount_raised, 'Amount Raised' %>
    </p>
      <%= f.text_field :amount_raised, class: 'event-form-input', placeholder: '(leave empty if nothing)' %>

    <p class='workout-selection-form'>
      
      <section class='workouts-button-container'>
        <%= f.radio_button(:training, 2, id:'2-workouts') %> 
        <%= f.label(:training, 2, id: '2-workouts-label') %>
        <%= f.radio_button(:training, 3, id:'3-workouts') %> 
        <%= f.label(:training, 3, id: '3-workouts-label') %>
        <%= f.radio_button(:training, 4, id:'4-workouts') %> 
        <%= f.label(:training, 4, id: '4-workouts-label') %>
        <%= f.radio_button(:training, 5, id:'5-workouts') %> 
        <%= f.label(:training, 5, id: '5-workouts-label') %>
        <%= f.radio_button(:training, 6, id:'6-workouts') %> 
        <%= f.label(:training, 6, id: '6-workouts-label') %>
      </section>
    </p>
    <%= f.hidden_field :jg_event_id %>
    <%= f.hidden_field :jg_short_name %>
    <%= f.hidden_field :jg_page_id %>
    <%= f.submit(id: 'submit-event') %>
      

    </section>
  <% end %>
</section>