<%if @events.any?%>
  <% @events.each do |event| %>
    <p>
    <%= event.name%><br>
    <%= event.event_date.strftime("%d %B %Y")%>
    <br>
    <%= event.user.full_name %>
    </p>
    <%= link_to 'view event', event_path(event) %>
  <%end%>
<% else %>
  <h3>There are no events at the moment.</h3>
<%end%>
<%= link_to 'Add Your Event', new_event_path %>
