<section class='container-left'>
  <section class='event-details-container'>
    <p id='event-name'><%= @event.name %></p>
    <p id='event-date'><%= @event.event_date.strftime("%d %B %Y") %></p>
    <p id='event-charity'>Fundraising for <%= @event.charity %></p>
    <p id='event-target'>Fundraising Target: £<%= @event.target %></p>
    <p id='amount-raised'>£<%= @event.amount_raised %> raised so far</p>
  </section>
  <section class='days-remaining'>
      15 DAYS REMAINING
    </section>
    <section class='percentage-completion'>
      40% complete
    </section>
    <section class='training-totals'>
    </section>
    <section class='training-calender'>
    </section>
    <section class='donation-button'>
    </section>
</section>