  <section class='container-left'>
    <section class='picture-container'>
      <section class='profile-picture' >
        <div id='profile-image'>
            <% if @event.is_owner?(current_user) %>
              <%= link_to profile_path(current_user, event_id: @event.id) do %>
              <%= icon('camera', '',class:'icon-camera') %>
            <% end %>
          <% end %>
          <% if @event.user.avatar.present? %>
            <%= image_tag @event.user.avatar.url(:medium), class: 'profile-pic'  %>
          <% end %>
        </div>
      </section>
      <p id='event-user-name'>
        <%= @event.user.full_name %>
      </p>
    </section>


    <section class="challenge-me">
      <%= link_to "Challenge Me", new_event_challenge_path(@event), class: 'challenge-me-button' %>
    </section>
  
    <section class='event-details-container'>
      <p id='event-paragraph'><%= @event.user.firstname %> is fundraising for <%= @event.charity %> by doing the  <%= @event.name %> on <%= @event.event_date.strftime("%d %B %Y") %>. They've raised £<%= @event.amount_raised %> so far.</p>
    </section>

    <section class='days-remaining'>
      <% if (@event.event_date == Date.today) %>
        <p id='event-today-text'>Today's the day!</p>
      <% elsif (@event.event_date > Date.today) %>
        <p id='days-remaining-number'>
          <%=  "#{(@event.event_date - Date.today).to_i}" %></p>
        <p id='date-remaining-text'>days to go!</p>
      <% else %>
        <p id='days-remaining-head'>Event completed</p>
        <p id='days-remaining-number'><%= "#{(Date.today - @event.event_date).to_i}" %></p>
        <p id='date-remaining-text'>days ago!</p>
      <% end %>
    </section>

    <section class='percentage-completion'>
      <p id="event-percentage-number"><%= @event.percentage_of_target %>%</p>
      <p id='event-percentage-text'>of fundraising target achieved.</p>
    </section>
    <section class='training-totals'>
     <p id='training-goal-headline'>Training goal:</p>
     <p id='training-goal-number'><%= @event.training %></p>
      <p id='training-goal-text'>sessions per week.</p>
    </section>

    <section class='training-stats'>
        <% if @event.is_owner?(current_user) %>
        <p class='log-training-button-container'>
         <%= link_to "Log training session", new_event_trainingsessions_path(@event), class: 'modal-button', id: 'log-training-button', data: { :'modal-selector' => '#ex1' }  %>
         </p>
        <%end%>

      <section class='percentage-completed-workouts'>
        <p id='workouts-completed-percentage-number'>
          <%= @event.percentage_of_workouts_complete.to_f.round %>%</p>
        <p id='workouts-completed-text'>
         of total training sessions completed.
        </p>
      </section>

      <section class='workouts-completed-by-user'>
        <p id='workouts-completed-head'>
          <%= @event.user.firstname %> has completed
        </p>
        <p id='workouts-completed-number'>
          <%= @event.weekly_training_sessions%>
        </p>
        <p id='workouts-completed-footer'>
          out of <%=@event.training %> workouts<br> planned for this week.
        </p>
      </section>

      <section class='recent-workout-details'>
        <% if @trainingsessions.any? %>
          <p id='recent-workout-details-head'>Most recent session details<br>
            <%= @trainingsessions.last.details %>
          </p>
       <%end%>
     </section>
    </section>

    <section class='donate-button-container'>
      <p id='donations-button' >Donate
      </p>
    </section>
</section>

<section class='main-content-container'>
  <section class='container-top'>

    <section class='event-controls'>
      <% if @event.is_owner?(current_user) %>
        <%= link_to image_tag("edit.png", id: 'edit-logo')+ "Edit details", edit_event_path(@event), id: 'edit-event' %>
        <div class='eventcontrols-separator'></div>
        <%= link_to image_tag("delete.png", id: 'delete-logo') +'Delete event', event_path(@event), id: 'delete-event', method: :delete %>
        <div class='eventcontrols-separator'></div>
         <%= link_to image_tag("my_events.png", id: 'delete-logo')+'My Events', select_events_path, id: 'edit-event'%>
      <% end %>
    </section>

    <section class='pledge-container'>
    <% if @pledges.any? %>
      <p class='pledge-title'>
        <%= @event.user.firstname %>'s pledge:
      </p>
      <p class='pledge-information'>
        "Once I raise £<%=@event.next_pledge.amount%>, I will do the <%=@event.next_pledge.title%>
        <%=@event.next_pledge.info%>"
      </p>
    <%else%>
    <p class='pledge-title-empty'>
      ...
    </p>
    <p class='pledge-information-empty'>
      No pledges yet
    </p>
    <%end%>
    <% if current_user == @event.user %>
      <%= link_to "New pledge", new_event_pledges_path(@event), class: 'pledge-modal-button', id: "new-pledge-link", data: { :'modal-selector' => '#new-pledge-modal' } %>
    <%end%>
    </section>

    <section class='fundraising-stats'>
      <section class='fundraising-stats-percentage-complete'>
        <p id='fundraising-stats-percentage-text'>
         Percentage complete:
        </p>
        <p id='fundraising-stats-percentage-number'>
          <%= @event.percentage_of_target %>%
        </p>
      </section>
      <section class='fundraising-stats-target'>
        <p id='fundraising-stats-percentage-text'>
         Fundraising target:
        </p>
        <p id='fundraising-stats-percentage-number'>
          £<%= @event.target %>
        </p>
      </section>
      <section class='fundraising-stats-raised'>
        <p id='fundraising-stats-percentage-text'>
         Raised so far:
        </p>
        <p id='fundraising-stats-percentage-number'>
          £<%= @event.amount_raised %>
        </p>
      </section>
      <section class='fundraising-stats-training-goal'>
        <p id='fundraising-stats-percentage-text'>
         Training sessions completed:
        </p>
        <p id='fundraising-stats-percentage-number'>
          <%= @event.percentage_of_workouts_complete.round %>%
        </p>
      </section>
    </section>

  </section>

  <!-- sync with mapmyfitness -->
  <% if current_user == @event.user %>
  <section class='map-my-fitness'>
  <%= image_tag("MapMyFitness.png", id: 'mmf-logo') %>
    <p class='mapmyfitness-sync-text'>
      Sync your workouts from Map My Fitness:
    </p>
    <section class='mmf-button'>
      <%= image_tag("sync.png", id: 'sync-icon') %>
      <%= link_to "Sync", mmf_training_path(@event.id), id: 'map-my-fitness-button-text', method: :post %>
      </section>
  </section>
   <%end%>

   <div class='page-divider'></div>

  <section class='update-feed'>
    <section class='donations-container'>
    <%= link_to 'New Post', new_event_posts_path(@event), class: 'new-post-modal-button', id: "new-post-link", data: { :'modal-selector' => '#new-post-modal' } %>
     <div class='newpost-separator'></div>
    <%= link_to 'Click to donate', just_giving_fundraising_donation_url("#{@event.jg_page_id}", {exit_url: "#{request.original_url}"}), id: "new-post-link" %>
    </section>

    <% if @challenges.any? %>
    <section class='challenge-count'>
      <%= @challenges.count %> challenge pending
    </section>
    <% end %>

    <% if @posts.any? %>
        <%= render @posts.reverse %>
    <% else %>
        There are no posts
    <% end %>
  </section>
</section>

  <div id="new-pledge-modal" style="display:none;">
    <%= form_for [@event, @event.pledges.new] do |f| %>
      <section class='pledge-modal-container'>
        <%= f.label :title, "Pledge title", id: 'pledge-modal-label' %>
        <%= f.text_field :title, id: 'pledge-modal-input', placeholder: 'give your pledge a name' %>
      </section>
      <section class='pledge-modal-container'>
        <%= f.label :amount, "Target", id: 'pledge-modal-label' %>
        <%= f.text_field :amount, id: 'pledge-modal-input', placeholder: 'set a target to hit' %>
      </section>
      <section class='pledge-modal-container'>
        <%= f.label :info, "Information", id: 'pledge-modal-label' %>
        <%= f.text_field :info, id: 'pledge-modal-input', placeholder: "say what you're going to do" %>
      </section>

      <section class="pledge-create-modal">
        <%= f.submit 'Create Pledge', class: 'modal-button-create' %>
      <a class='close-modal' href="#" rel="modal:close">Close</a>
      </section>
    <%end%>
  </div>

  <div id="new-post-modal" style="display:none;">
    <% @post = @event.posts.new %>
    <%= form_for [@event, @post], html: { multipart: true } do |f| %>
      <% if @post.errors.any? %>
      <article class="error_explaination">
        <%= pluralize(@post.errors.count, "error") %>
        prevent this event from being saved:
        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%=message%></li>
          <% end %>
        </ul>
      </article>
    <% end %>

      <section class="post-caption-modal">
        <%= f.label :caption %>
        <%= f.text_field :caption %>
      </section>

      Choose the type of post : </br>

      <section class="post-picture-modal">
        <%= f.label :picture %>
        <%= f.file_field :picture %>
      </section>

      or </br>

      <section class="post-video-modal">
        <%= f.label :video %>
        <%= f.text_field :video %>
      </section>

      or </br>

      <section class="post-text-modal">
        <%= f.label :text %>
        <%= f.text_field :text %>
      </section>


      <section  class="post-create-modal">
        <%= f.submit 'Create post', class: 'modal-button-create' %>
      </section>

    <% end %>
  </div>

  <div id="ex1" style="display:none;">
    <%= form_for [ @event, @trainingsession ] do |f| %>
    <section class='modal-header'>
      <%= f.label :details, "Training details"%>
    </section>
    <section class='modal-body'>
      <%= f.text_area :details %>
       <%= f.label :sessiondate, 'Training Session Date' %>
      <article class='training-date-selector'>
        <%= f.date_select :sessiondate, :order => [:day, :month, :year] %>
      </article>
    </section>
    <section class="modal-footer">
      <%= f.submit 'Add Workout', class: 'modal-button-create' %>
      <a class='close-modal' href="#" rel="modal:close">Close</a>
    </section>
    <%end%>
  </div>



<script>
  $(document).ready(function(){

      $(".modal-button").on('click', displayModal);

      $(".pledge-modal-button").on('click', displayModal);

      $(".new-post-modal-button").on('click', displayModal);
  });

  function displayModal(e){
      e.preventDefault();

      $($(e.target).attr('data-modal-selector')).modal({
          fadeDuration: 500,
          fadeDelay: 0.30
      });
  }
</script>
