  <section class='container-left'>
    <section class='picture-container'>
      <section class='profile-picture' >
        <div id='profile-image'>
        </div>
      </section>
      <p id='event-user-name'>
        <%= @event.user.full_name %>
      </p>
    </section>
  
    <section class='event-details-container'>
      <!-- <div class='ribbon-wrapper'>
        <div class='ribbon-front'><%= @event.name %></div>
        <div class='ribbon-edge-topleft'></div>
        <div class='ribbon-edge-topright'></div>
        <div class='ribbon-edge-bottomleft'></div>
        <div class='ribbon-edge-bottomright'></div>
      </div> -->
      <p id='event-paragraph'><%= @event.name %> is fundraising for <%= @event.charity %>. Their fundraising target is £<%= @event.target %>. The big event is on <%= @event.event_date.strftime("%d %B %Y") %> and they've raised £<%= @event.amount_raised %> so far.</p>
    </section>

    <section class='days-remaining'>
      <% if (@event.event_date == Date.today) %>
        <p id='event-today-text'>Today's the day!</p>
      <% elsif (@event.event_date > Date.today) %>
        <p id='days-remaining-number'>
          <%=  "#{(@event.event_date - Date.today).to_i}" %></p> 
        <p id='date-remaining-text'>days to go!</p>
      <% else %>
        <p id='days-remaining-head'>Event completed</p>
        <p id='days-remaining-number'><%= "#{(Date.today - @event.event_date).to_i}" %></p>
        <p id='date-remaining-text'>days ago!</p>
      <% end %>
    </section>

    <section class='percentage-completion'>
      <p id="event-percentage-number"><%= @event.percentage_of_target %>%</p>
      <p id='event-percentage-text'>of fundraising target achieved.</p>
    </section>
    <section class='training-totals'>
     <p id='training-goal-headline'>Training goal:</p>
     <p id='training-goal-number'><%= @event.training %></p>
      <p id='training-goal-text'>sessions per week.</p>
    </section>

    <section class='training-stats'>
      <p class='log-training-button-container'>
        <% if @event.is_owner?(current_user) %>
         <%= link_to "Log training session", new_event_trainingsessions_path(@event), class: 'modal-button', id: 'log-training-button', data: { :'modal-selector' => '#ex1' }  %>
        <%end%>
      </p>

      <section class='percentage-completed-workouts'>
        <p id='workouts-completed-percentage-number'>
          <%= @event.percentage_of_workouts_complete.round %>%</p>
        <p id='workouts-completed-text'>
         of total training sessions completed.
        </p>
      </section>

      <section class='workouts-completed-by-user'>
        <p id='workouts-completed-head'>
          <%= @event.user.firstname %> has completed
        </p>
        <p id='workouts-completed-number'>
          <%= @event.weekly_training_sessions%>
        </p>
        <p id='workouts-completed-footer'>
          out of <%=@event.training %> workouts<br> planned for this week.
        </p>
      </section>

      <section class='recent-workout-details'>
        <% if @trainingsessions.any? %>
          <p id='recent-workout-details-head'>Most recent session details<br>
            <%= @trainingsessions.last.details %>
          </p>
       <%end%>
     </section>
    </section>

    <section class='donate-button-container'>
      <p id='donations-button' >Donate
      </p>
    </section>
</section>

<section class='main-content-container'>
  <section class='container-top'>
    <section class='pledge-container'>
    <% if @pledges.any? %>
        Once I raise £<%=@event.next_pledge.amount%>, I will do the <%=@event.next_pledge.title%>
        <%=@event.next_pledge.info%>
    <%else%>
      No pledges yet
    <%end%>
    <% if current_user == @event.user %>
      <%= link_to "New Pledge", new_event_pledges_path(@event), class: 'pledge-modal-button', data: { :'modal-selector' => '#new-pledge-modal' } %>
    <%end%>
    </section>
    <section class='event-controls'>
      <% if @event.is_owner?(current_user) %>
        <%= link_to 'Edit', edit_event_path(@event), class: 'edit-event' %>
        <%= link_to 'Delete', event_path(@event), class: 'delete-event', method: :delete %>
      <% end %>
    </section>

    <section class='fundraising-stats'>
      <section class='fundraising-stats-percentage-complete'>
        <p id='fundraising-stats-percentage-text'>
         Percentage complete:
        </p>
        <p id='fundraising-stats-percentage-number'>
          <%= @event.percentage_of_target %>%
        </p>
      </section>
      <section class='fundraising-stats-target'>
        <p id='fundraising-stats-percentage-text'>
         Fundraising target:
        </p>
        <p id='fundraising-stats-percentage-number'>
          £<%= @event.target %>
        </p>
      </section>
      <section class='fundraising-stats-raised'>
        <p id='fundraising-stats-percentage-text'>
         Raised so far:
        </p>
        <p id='fundraising-stats-percentage-number'>
          £<%= @event.amount_raised %>
        </p>
      </section>
      <section class='fundraising-stats-training-goal'>
        <p id='fundraising-stats-percentage-text'>
         Training sessions completed:
        </p>
        <p id='fundraising-stats-percentage-number'>
          <%= @event.percentage_of_workouts_complete.round %>%
        </p>
      </section>
    </section>

  </section>

  <section class='update-feed'>
    <section class='donations-container'>
    <%= link_to 'New Post', new_event_posts_path(@event), class: 'new-post-modal-button', data: { :'modal-selector' => '#new-post-modal' } %>

    <%= link_to 'Click to donate', just_giving_fundraising_donation_url("#{@event.jg_page_id}", {exit_url: "#{request.original_url}"}) %>
    </section>
    <% if @posts.any? %>
        <%= render @posts %>
    <% else %>
        There are no posts
    <% end %>
  </section>
</section>

  <div id="new-pledge-modal" style="display:none;">
    <%= form_for [@event, @event.pledges.new] do |f| %>
      <section class='pledge-title-modal'>
      <%= f.label :title %>
      <%= f.text_field :title %>
      </section>
      <section class='pledge-amount-modal'>
      <%= f.label :amount %>
      <%= f.text_field :amount %>
      </section>
      <section class='pledge-info-modal'>
      <%= f.label :info %>
      <%= f.text_field :info %>
      </section>

      <section class="pledge-create-modal">
      <%= f.submit 'Create Pledge', class: 'modal-button-create' %>
      <a class='close-modal' href="#" rel="modal:close">Close</a>
      </section>
    <%end%>
  </div>

  <div id="new-post-modal" style="display:none;">
    <% @post = @event.posts.new %>
    <%= form_for [@event, @post], html: { multipart: true } do |f| %>
      <% if @post.errors.any? %>
      <article class="error_explaination">
        <%= pluralize(@post.errors.count, "error") %>
        prevent this event from being saved:
        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%=message%></li>
          <% end %>
        </ul>
      </article>
    <% end %>

      <%= f.label :caption %>
      <%= f.text_field :caption %>

      <%= f.label :picture %>
      <%= f.file_field :picture %>

      <%= f.submit %>

    <% end %>
  </div>

  <div id="ex1" style="display:none;">
    <%= form_for [ @event, @trainingsession ] do |f| %>
    <section class='modal-header'>
      <%= f.label :details, "Training details"%>
    </section>
    <section class='modal-body'>
      <%= f.text_field :details %>
    </section>
    <section class="modal-footer">
      <%= f.submit 'Add Workout', class: 'modal-button-create' %>
      <a class='close-modal' href="#" rel="modal:close">Close</a>
    </section>
    <%end%>
  </div>

<script>
  $(document).ready(function(){

      $(".modal-button").on('click', displayModal);

      $(".pledge-modal-button").on('click', displayModal);

      $(".new-post-modal-button").on('click', displayModal);
  });

  function displayModal(e){
      e.preventDefault();

      $($(e.target).attr('data-modal-selector')).modal({
          fadeDuration: 500,
          fadeDelay: 0.30
      });
  }
</script>
