  <section class='container-top'>
    <section class='picture-container'>

    </section>
    <section class='pledge-container'>

      No pledges yet
    </section>
    <section class='donations-container'>

    </section>
  </section>

<section class='container-left'>
    <p id='event-user-name'><%= @event.user.firstname %> <%= @event.user.lastname %></p>
  <section class='event-details-container'>
    <p id='event-name'><%= @event.name %></p>
    <p id='event-date'><%= @event.event_date.strftime("%d %B %Y") %></p>
    <p id='event-charity'>Fundraising for <%= @event.charity %></p>
    <p id='event-target'>Fundraising Target: £<%= @event.target %></p>
    <p id='amount-raised'>£<%= @event.amount_raised %> raised so far</p>
  </section>
  <section class='days-remaining'>
      <%= @event.days_remaining %>
    </section>
    <section class='percentage-completion'>
      <%= @event.percentage_of_target %>% of fundraising target achieved.
    </section>
    <section class='training-totals'>
    </section>
    <section class='training-calender'>
    </section>
    <section class='donation-button'>
    </section>
</section>

<section class='update-feed'>
  <% if @posts.any? %>
      <%= render @posts %>
  <% else %>
      There are no posts
  <% end %>
</section>

<%= link_to 'New Post', new_event_posts_path(@event) %>
