<h3><%= @event.name %></h3>
<p><%= @event.event_date.strftime("%d %B %Y") %></p>
<p>Fundraising for <%= @event.charity %></p>
<p>Fundraising Target: £<%= @event.target %></p>
<p>£<%= @event.amount_raised %> raised so far</p>

<% if @posts.any? %>
	<% @posts.each do |post| %>
			<h3><%= post.caption %></h3>    
		<%= image_tag post.picture.url(:medium), class: 'uploaded-pic' %>    
	<% end %>
	<% else %>
		There are no posts
	<% end %>

<%= link_to 'New Post', new_event_posts_path(@event) %>