  <section class='container-left' id='event-page'>
    <section class='picture-container'>
      <section class='profile-picture' >
        <div id='profile-image'>
            <% if @event.is_owner?(current_user) %>
              <%= link_to '#', class: "profilepic-modal-button"  do %>
                <%= icon('camera', '',class:'icon-camera', data: { :'modal-selector' => '#profilepic-modal' }) %>
              <% end %>
            <% end %>
          <% if @event.user.avatar.present? %>
            <%= image_tag @event.user.avatar.url(:medium), class: 'profile-pic'  %>
          <% end %>
        </div>
      </section>
      <p id='event-user-name'>
        <%= @event.user.firstname.capitalize %> <%= @event.user.lastname.capitalize %>
      </p>
    </section>

    <section class='event-details-container'>
      <p id='event-paragraph'><%= @event.user.firstname.capitalize %> is fundraising for <%= @event.charity %> by <%= @event.name %> on <%= @event.event_date.strftime("%d %B '%y") %></p>
    </section>

    <section class='donate-button-container'>
      <% if @event.is_owner? current_user %>
          <a href="#menu-modal" rel="modal:open" class='menu-modal-button' >MENU</a>
     <% else %>

      <section class='challenge-me'>
        <%= link_to 'Challenge Me', new_event_challenge_path(@event), class: 'challenge-me-button', id: "challenge-me-link", data: { :'modal-selector' => '#new-challenge-modal' } %>
        </section>
      <% end %>
    </section>

    <section class='training-stats'>
      <section class='training-headline'>
        <p id='training-section-headline'>TRAINING</p>
      </section>

      <section class='total-completed-workouts'>
        <p id='workouts-completed-total-number'>
           <%= @event.trainingsessions.count%></p>
        <p id='workouts-completed-total-text'>
         workouts completed
        </p>
      </section>

    <section class='training-totals'>
      <p id='training-goal-headline'>GOAL</p>
      <p id='training-goal-number'><%= @event.training %></p>
      <p id='training-goal-text'>sessions per week.</p>
    </section>

    <section class='workouts-completed-by-user'>
      <p id='workouts-completed-head'>
        <%= @event.user.firstname.capitalize %> has worked out
      </p>
      <p id='workouts-completed-number'>
        <%= @event.weekly_training_sessions%>
      </p>
      <p id='workouts-completed-footer'>
          times this week.
      </p>
    </section>

      <section class='recent-workout-details'>
        <% if @trainingsessions.any? %>

          <p id='recent-workout-details-head'>LAST <br> WORKOUT
            <%= @trainingsessions.last.details %>

          </p>
       <%end%>
    </section>
  </section>
</section>

<section class='main-content-container'>
  <section class='container-top'>
    <section class='fundraising-stats'>
      <section class='fundraising-stats-percentage-complete'>
        <p id='fundraising-stats-percentage-text'>
         Percentage complete:
        </p>
        <p id='fundraising-stats-percentage-number'>
          <%= @event.percentage_of_target %>%
        </p>
      </section>
      <section class='fundraising-stats-target'>
        <p id='fundraising-stats-percentage-text'>
         Fundraising target:
        </p>
        <p id='fundraising-stats-percentage-number'>
          £<%= @event.target %>
        </p>
      </section>
      <section class='fundraising-stats-raised'>
        <p id='fundraising-stats-percentage-text'>
         Raised so far:
        </p>
        <p id='fundraising-stats-percentage-number'>
          £<%= @event.amount_raised %>
        </p>
      </section>
      <section class='fundraising-stats-training-goal'>

         <section class='fundraising-stats-percentage-number'>
            <% if (@event.event_date == Date.today) %>
              <p id='event-today-text'>Today's the day!</p>
            <% elsif (@event.event_date > Date.today) %>
              <p id='fundraising-stats-percentage-text'>Days to go:</p>
              <p id='fundraising-stats-percentage-number'>
                <%=  "#{(@event.event_date - Date.today).to_i}" %></p>
            <% else %>
              <p id='fundraising-stats-percentage-text'>Event completed</p>
              <p id='fundraising-stats-percentage-number'><%= "#{(Date.today - @event.event_date).to_i}" %></p>
              <p id='fundraising-stats-percentage-text'>days ago!</p>
            <% end %>
          </section>
        </section>
    </section>

    <section class='pledge-container'>
        <% if @pledges.any? %>
          <p class='pledge-title'>
            <%= @event.user.firstname.capitalize %> promises:
          </p>
          <p class='pledge-information'>
            Once I raise £<%= @event.next_pledge.amount %>, I will do the <%= @event.next_pledge.caption %>
            <%= @event.next_pledge.text %>
          </p>
        <%else%>
          <p class='pledge-title-empty'>

          </p>
          <p class='pledge-information-empty'>
            <%= @event.user.firstname.capitalize %> hasn't promised to do anything yet...
          </p>
        <%end%>
    </section>
  </section>

<!-- Targetbar -->
  <section class="target-bar-container">
          <%= javascript_tag do %>
            amountRaised = "<%=j @event.amount_raised.to_s %>";
            targetAmount = "<%=j @event.target.to_s %>";
          <% end %>
        <div class="target-wrap progress" data-progress-percent="">
      <div class="target-bar progress">
    </div>
  </div>
</section>


    <% @challenges.each do |challenge| %>

      <section class='challenge-display'>
        <section class='challenge-text'>
          <p class='challenger-creator'>
            You've been challenged by <%= challenge.creator %>!
          </p>
          <p class='challenger-description'>
            Challenge: <%= challenge.name %>
          </p>
        </section>
        <section class='challenge-button-container', data-challenge="<%= challenge.id %>">
          <button class='accept-challenge'><i class="fa fa-check"></i></button>
          <button class='decline-challenge'><i class="fa fa-times"></i></button>
        </section>
      </section>

    <% end %>

   <div class='page-divider'></div>

  <%= render 'update_modal' %>

  <section class='update-feed'>
    <% if @posts.any? %>
    <section id="cd-timeline" class="cd-container">
      <%= render @posts.reverse %>
    </section>
    <% else %>
      There are no posts
    <% end %>
  </section>
</section>

<section class='donations-container'>
<% if current_user == @event.user %>
    <%= link_to 'UPDATE SPONSORS', new_event_posts_path(@event), class: 'new-post-modal-button', id: "update-sponsers-link", data: { :'modal-selector' => '#new-post-modal' } %>
    <%= link_to "MAKE A PROMISE", new_event_pledges_path(@event), class: 'new-post-modal-button', id: "make-a-promise-link", data: { :'modal-selector' => '#new-pledge-modal' } %>
<% else %>
<%= link_to 'DONATE', just_giving_fundraising_donation_url("#{@event.jg_page_id}", {exit_url: "#{request.original_url}/donations"}), id: "donate-button" %>
  <%end%>
</section>


  <div id="new-post-modal" style="display:none;">
    <% @post = @event.posts.new %>
    <%= form_for [@event, @post], html: { multipart: true } do |f| %>
    <p id="menu-header">UPDATE</p>
      <% if @post.errors.any? %>
      <article class="error_explaination">
        <%= pluralize(@post.errors.count, "error") %>
        prevent this event from being saved:
        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%=message%></li>
          <% end %>
        </ul>
      </article>
    <% end %>

      <section class="post-caption-modal">
        <%= f.label :caption, id: 'pledge-modal-label' %>
        <%= f.text_field :caption, id: 'pledge-modal-input', placeholder: "write a title for your post here..."%>
      </section>
      <br>
      <button id="post-picture" class="modal-button-create"><%= icon('file-image-o ')%>  PICTURE</button>
      <button id="post-video" class="modal-button-create"><%= icon('youtube')%>  VIDEO</button>
      <button id="post-text" class="modal-button-create"><%= icon('pencil')%>  TEXT</button>


      <section class="post-picture-modal">
        <%= f.label :picture, id: 'pledge-modal-label' %>
        <%= f.file_field :picture %>
      </section>


      <section class="post-video-modal">
        <%= f.label :video, id: 'pledge-modal-label' %>
        <%= f.text_field :video, id: 'pledge-modal-input',id: 'pledge-modal-input', placeholder: "paste a youtube URL here..." %>
      </section>

      <section class="post-text-modal">
        <%= f.label :text, id: 'pledge-modal-label' %>
        <%= f.text_field :text, id: 'pledge-modal-input', id: 'pledge-modal-input', placeholder: "write some hilarious content here..." %>
      </section>
      <br>
      <section  class="post-create-modal">
        <%= f.submit 'Create post', class: 'modal-button-create' %>
      </section>
    <% end %>
  </div>

  <div id="ex1" style="display:none;">
    <%= form_for [@event, @trainingsession] do |f| %>
    <section class='modal-header'>
      <%= f.label :details, "Training details"%>
    </section>
    <section class='modal-body'>
      <%= f.text_area :details %>
       <%= f.label :sessiondate, 'Training Session Date' %>
      <article class='training-date-selector'>
        <%= f.date_select :sessiondate, :order => [:day, :month, :year] %>
      </article>
    </section>
    <section class="modal-footer">
      <%= f.submit 'Add Workout', class: 'modal-button-create' %>
      <a class='close-modal' href="#" rel="modal:close">Close</a>
    </section>
    <%end%>

  </div>

  <div id="new-challenge-modal" style="display:none;">
    <%= form_for [@event, @event.challenges.new] do |f| %>
<p id="menu-header">SET A CHALLENGE</p>
      <section class="challenge-creator-modal">
        <%= f.text_field :creator, id: 'pledge-modal-input', placeholder: "What's your name?" %>
      </section>

      <section class="challenge-name-modal">
        <%= f.label :name, 'Describe your challenge', id: 'pledge-modal-label' %>
        <%= f.text_field :name, id: 'pledge-modal-input', placeholder: "what do you want them to do?" %>
      </section>
      <section class="challenge-amount-modal">
        <%= f.label :amount, 'How much would you donate?',id: 'pledge-modal-label' %>
        <%= f.text_field :amount, id: 'pledge-modal-input', placeholder: "£££" %>
      </section>
      <section  class="challenge-create-modal">
        <%= f.submit 'Create challenge', class: 'modal-button-create' %>
      </section>

    <%end%>
  </div>

  <div id="menu-modal" style="<%= display_if(Rails.env.test?) %>">
   <p id="menu-header">MENU</p>
    <section class='modal-body'>
    -      <%= link_to 'MY EVENTS', select_events_path, class:"menu-event"%><br>
    -      <%= link_to "EDIT EVENT", edit_event_path(@event), id: "edit-event", class:"menu-event" if @event.is_owner?(current_user) %><br>
    -      <%= link_to "DELETE EVENT", event_path(@event),class:"menu-event", method: :delete %><br>
    -      <%= link_to "CREATE EVENT", new_event_path,class:"menu-event" %><br>
    -      <%= link_to "LOG TRAINING", new_event_trainingsessions_path(@event), class: 'modal-button', class:"menu-event", data: { :'modal-selector' => '#ex1' }  %><br>
    -      <%= link_to "SYNC MAPMYFITNESS", mmf_training_path(@event.id), class:"menu-event", method: :post %><br>
    -      <%= link_to'SIGN OUT', destroy_user_session_path, method: :delete, class:"menu-event" %>
    </section>
  </div>

  <div id="profilepic-modal" style="<%= display_if(Rails.env.test?) %>">
    <%= render "users/profilepic" %>
  </div>
