  <section class='container-left'>
    <section class='picture-container'>
      <section class='profile-picture' >
        <div id='profile-image'>
            <% if @event.is_owner?(current_user) %>
              <%= link_to profile_path(current_user, event_id: @event.id) do %>
              <%= icon('camera', '',class:'icon-camera') %>
            <% end %>
          <% end %>
          <% if @event.user.avatar.present? %>
            <%= image_tag @event.user.avatar.url(:medium), class: 'profile-pic'  %>
          <% end %>
        </div>
      </section>
      <p id='event-user-name'>
        <%= @event.user.full_name %>
      </p>
    </section>

    <section class='event-details-container'>
      <p id='event-paragraph'><%= @event.user.firstname.capitalize %> is fundraising for <%= @event.charity %> by <%= @event.name %> on <%= @event.event_date.strftime("%d %B '%y") %></p>
    </section>

    <% if current_user == @event.user %>
          <p><a href="#menu-modal" rel="modal:open" class='menu-modal-button' >MENU</a></p>
     <% end %>

    <section class='donate-button-container'>
          <%= link_to 'Donate', just_giving_fundraising_donation_url("#{@event.jg_page_id}", {exit_url: "#{request.original_url}"}), id: "donations-button" %>
    </section>


    <section class="donate-button-container">
      <%= link_to "Challenge Me", new_event_challenge_path(@event), id: "donations-button" %>
    </section>




    <section class='training-stats'>
      <section class='training-headline'>
        <p id='training-section-headline'>TRAINING</p>
      </section>

      <section class='total-completed-workouts'>
        <p id='workouts-completed-total-number'>
           <%= @event.trainingsessions.count%></p>
        <p id='workouts-completed-total-text'>
         workouts completed
        </p>
      </section>

    <section class='training-totals'>

     <p id='training-goal-headline'>GOAL</p>
     <p id='training-goal-number'><%= @event.training %></p>
      <p id='training-goal-text'>sessions per week.</p>
    </section>



      <section class='workouts-completed-by-user'>
        <p id='workouts-completed-head'>
          <%= @event.user.firstname.capitalize %> has worked out
        </p>
        <p id='workouts-completed-number'>
          <%= @event.weekly_training_sessions%>
        </p>
        <p id='workouts-completed-footer'>
            times this week.
        </p>
      </section>

      <section class='recent-workout-details'>
        <% if @trainingsessions.any? %>
          <p id='recent-workout-details-head'>LAST <br> WORKOUT
            <%= @trainingsessions.last.details %>
          </p>
       <%end%>
     </section>
    </section>

</section>

<section class='main-content-container'>
  <section class='container-top'>



    <section class='fundraising-stats'>
      <section class='fundraising-stats-percentage-complete'>
        <p id='fundraising-stats-percentage-text'>
         Percentage complete:
        </p>
        <p id='fundraising-stats-percentage-number'>
          <%= @event.percentage_of_target %>%
        </p>
      </section>
      <section class='fundraising-stats-target'>
        <p id='fundraising-stats-percentage-text'>
         Fundraising target:
        </p>
        <p id='fundraising-stats-percentage-number'>
          £<%= @event.target %>
        </p>
      </section>
      <section class='fundraising-stats-raised'>
        <p id='fundraising-stats-percentage-text'>
         Raised so far:
        </p>
        <p id='fundraising-stats-percentage-number'>
          £<%= @event.amount_raised %>
        </p>
      </section>
      <section class='fundraising-stats-training-goal'>


         <section class='fundraising-stats-percentage-number'>
            <% if (@event.event_date == Date.today) %>
              <p id='event-today-text'>Today's the day!</p>
            <% elsif (@event.event_date > Date.today) %>
              <p id='fundraising-stats-percentage-text'>Days to go:</p>
              <p id='fundraising-stats-percentage-number'>
                <%=  "#{(@event.event_date - Date.today).to_i}" %></p>
            <% else %>
              <p id='fundraising-stats-percentage-text'>Event completed</p>
              <p id='fundraising-stats-percentage-number'><%= "#{(Date.today - @event.event_date).to_i}" %></p>
              <p id='fundraising-stats-percentage-text'>days ago!</p>
            <% end %>
    </section>
      </section>
    </section>


    <section class='pledge-container'>
        <% if @pledges.any? %>
          <p class='pledge-title'>
            <%= @event.user.firstname.upcase %> swears:
          </p>
          <p class='pledge-information'>
            "Once I raise £<%=@event.next_pledge.amount%>, I will do the <%=@event.next_pledge.title%>
            <%=@event.next_pledge.info%>"
          </p>
        <%else%>
          <p class='pledge-title-empty'>

          </p>
          <p class='pledge-information-empty'>
            <%= @event.user.firstname.upcase %> hasn't promised to do anything yet...
          </p>
        <%end%>
    </section>
  </section>

   <div class='page-divider'></div>

  <section class='update-feed'>
    <section class='donations-container'>
      <% if current_user == @event.user %>
          <%= link_to 'UPDATE', new_event_posts_path(@event), class: 'new-post-modal-button', id: "new-post-link", data: { :'modal-selector' => '#new-post-modal' } %>
       <div class='newpost-separator'></div>
          <%= link_to "SWEAR", new_event_pledges_path(@event), class: 'new-post-modal-button', id: "new-post-link", data: { :'modal-selector' => '#new-pledge-modal' } %>
        <%end%>
    </section>
  </section>

    <% if @challenges.any? %>
    <section class='challenge-count'>
      <%= @challenges.count %> challenge pending
    </section>
    <% end %>

    <% if @posts.any? %>
    <section id="cd-timeline" class="cd-container">
        <%= render @posts.reverse %>
    </section>
    <% else %>
        There are no posts
    <% end %>
  </section>
</section>



  <div id="new-pledge-modal" style="display:none;">
    <%= form_for [@event, @event.pledges.new] do |f| %>
      <section class='pledge-modal-container'>
        <%= f.label :title, "What challenge do you promise to do next?", id: 'pledge-modal-label' %>
        <%= f.text_field :title, id: 'pledge-modal-input', placeholder: 'give your challenge a name' %>
      </section>

      <section class='pledge-modal-container'>
        <%= f.label :info, "More info", id: 'pledge-modal-label' %>
        <%= f.text_field :info, id: 'pledge-modal-input', placeholder: "tell us more!" %>
      </section>
      <section class='pledge-modal-container'>
        <%= f.label :amount, "When will you do this challenge?", id: 'pledge-modal-label' %>
        <%= f.text_field :amount, id: 'pledge-modal-input', placeholder: 'set a £££ target to hit' %>
      </section>

      <section class="pledge-create-modal">
        <%= f.submit 'PROMISE', class: 'modal-button-create' %>
      <a class='close-modal' href="#" rel="modal:close">Close</a>
      </section>
    <%end%>
  </div>

  <div id="new-post-modal" style="display:none;">
    <% @post = @event.posts.new %>
    <%= form_for [@event, @post], html: { multipart: true } do |f| %>
      <% if @post.errors.any? %>
      <article class="error_explaination">
        <%= pluralize(@post.errors.count, "error") %>
        prevent this event from being saved:
        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%=message%></li>
          <% end %>
        </ul>
      </article>
    <% end %>

      <section class="post-caption-modal">
        <%= f.label :caption %>
        <%= f.text_field :caption %>
      </section>

      Choose the type of post : </br>

      <section class="post-picture-modal">
        <%= f.label :picture %>
        <%= f.file_field :picture %>
      </section>

      or </br>

      <section class="post-video-modal">
        <%= f.label :video %>
        <%= f.text_field :video %>
      </section>
      or </br>
      <section class="post-text-modal">
        <%= f.label :text %>
        <%= f.text_field :text %>
      </section>
      <section  class="post-create-modal">
        <%= f.submit 'Create post', class: 'modal-button-create' %>
      </section>
    <% end %>
  </div>

  <div id="ex1" style="display:none;">
    <%= form_for [@event, @trainingsession] do |f| %>
    <section class='modal-header'>
      <%= f.label :details, "Training details"%>
    </section>
    <section class='modal-body'>
      <%= f.text_area :details %>
       <%= f.label :sessiondate, 'Training Session Date' %>
      <article class='training-date-selector'>
        <%= f.date_select :sessiondate, :order => [:day, :month, :year] %>
      </article>
    </section>
    <section class="modal-footer">
      <%= f.submit 'Add Workout', class: 'modal-button-create' %>
      <a class='close-modal' href="#" rel="modal:close">Close</a>
    </section>
    <%end%>
  </div>

  iv>

  <div id="menu-modal" style="display:none;">
    <section class='modal-body'>
      <p class='log-training-button-container'>
         <%= link_to "Log training session", new_event_trainingsessions_path(@event), class: 'modal-button', id: 'log-training-button', data: { :'modal-selector' => '#ex1' }  %>
      </p>
      <section class='mmf-button'>
        <%= image_tag("sync.png", id: 'sync-icon') %>
        <%= link_to "Sync with Map my Fitness", mmf_training_path(@event.id), id: 'map-my-fitness-button-text', method: :post %>
      </section>
              <%= link_to image_tag("edit.png", id: 'edit-logo')+ "Edit details", edit_event_path(@event), id: 'edit-event' %>
        <div class='eventcontrols-separator'></div>
        <%= link_to image_tag("delete.png", id: 'delete-logo') +'Delete event', event_path(@event), id: 'delete-event', method: :delete %>
        <div class='eventcontrols-separator'></div>
         <%= link_to image_tag("my_events.png", id: 'delete-logo')+'My Events', select_events_path, id: 'edit-event'%>
    </section>

  <section class="modal-footer">
     <a class='close-modal' href="#" rel="modal:close">Close</a>
    </section>
  </div>
