  <section class='container-top'>
    <section class='picture-container'>
      <section class='profile-picture' >
        <div id='profile-image'></div>
      </section>
      <p id='event-user-name'>
        <%= @event.user.full_name %>
      </p>
    </section>

    <section class='pledge-container'>
    <% if @pledges.any? %>
        Once I raise £<%=@event.next_pledge.amount%>, I will do the <%=@event.next_pledge.title%><br>
        <%=@event.next_pledge.info%>

    <%else%>
      No pledges yet
    <%end%>
   <% if current_user == @event.user %>
      <%=link_to 'New Pledge', new_event_pledges_path(@event)%>
    <%end%>
    </section>
    <section class='donations-container'>

    </section>
    <section class='event-controls'>
      <% if @event.is_owner?(current_user) %>
        <%= link_to 'Edit', edit_event_path(@event), class: 'edit-event' %>
        <%= link_to 'Delete', event_path(@event), class: 'delete-event', method: :delete %>
      <% end %>
    </section>
  </section>

<section class='container-left'>
  <section class='event-details-container'>
    <p id='event-name'><%= @event.name %></p>
    <p id='event-date'><%= @event.event_date.strftime("%d %B %Y") %></p>
    <p id='event-charity'>Fundraising for <%= @event.charity %></p>
    <p id='event-target'>Fundraising Target: £<%= @event.target %></p>
    <p id='amount-raised'>£<%= @event.amount_raised %> raised so far</p>
  </section>
  <section class='days-remaining'>
      <%= @event.days_remaining %>
    </section>
    <section class='percentage-completion'>
      <%= @event.percentage_of_target %>% of fundraising target achieved.
    </section>
    <section class='training-totals'>
     Training Goal: <%= @event.training %> sessions per week.
    </section>
    <section class='training-calender'>
    <%= link_to "Log training session", new_event_trainingsessions_path(@event) %>
   <%= @event.percentage_of_workouts_complete.round %>% of total training sessions completed.

    <%= @event.user.firstname %> has completed <%= @event.weekly_training_sessions%> out of <%=@event.training %> workouts planned for this week.
    <% if @trainingsessions.any? %>
      <p>Most recent session details<br>
      <%= @trainingsessions.last.details %>

      </p>
    <%end%>
    </section>
    <section class='donation-button'>
    </section>
</section>
<marquee behavior="scroll" direction="left">
<section class='update-feed'>
  <% if @posts.any? %>
      <%= render @posts %>
  <% else %>
      There are no posts
  <% end %>
</section>


<%= link_to 'New Post', new_event_posts_path(@event) %>
</marquee>
