<section class="main-form-container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <section class="new-event-form">
      <h2>Log in</h2><br/>
      <div><%= f.label :email, class: 'event-form-label' %><br />
      <%= f.email_field :email, autofocus: true, class: 'event-form-input' %></div>

      <div><%= f.label :password, class: 'event-form-label' %><br />
        <%= f.password_field :password, autocomplete: "off", class: 'event-form-input' %></div>

      <% if devise_mapping.rememberable? -%>
        <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
      <% end %>

      <div class='devise-log-in'><%= f.submit "Log in", id: 'submit-event' %></div>
    <% end %>
    <!-- <div class='devise-form-button'> -->
      <%= render "devise/shared/links" %>
    <!-- </div> -->
  </section>
</section>