<article class='post-container'>
  <header class='post-header'>
    <section class='post-title'>
      <p class='post-caption'><%= post.caption %></p>
    </section>
    <section class='post-date'>
      <p class='posted-by'>Posted by <%= post.user.full_name%> <%= time_ago_in_words(post.created_at) %> ago</p>
    </section>
    <section class='post-controls'>
      <% if @post.is_owner?(current_user) %>
      <%= link_to 'Edit Post', edit_event_post_path(@event, post), class: 'edit-post' %>
      <% end %>
    </section>
  </header>
  <section class='post-content'>
    <object class='uploaded-evidence'>
      <%= image_tag post.picture.url(:medium), class: 'uploaded-pic' if post.picture.present? %>
    </object>

    <article class='evidence-comments'>
      <% if post.comments.any? %>

        <% post.comments.reverse_each do |comment| %>
          <p><%= comment.comments %></p>

        <% end %>
      <% end %>
      <section class='post-comments-container'>
        <%= form_for [@event, post, @comment] do |f| %>
          <%= f.text_field :comments, id: 'comments-placeholder', placeholder: 'Leave a comment...' %>
          <%= f.submit 'Submit', id: 'comment-submit-button' %>
        <% end %>
      </section>
    </article>

  </section>
</article>