<article class='post-container'>
  <header class='post-header'>
    <section class='post-title'>
      <%= post.caption %>
    </section>
    <section class='post-date'>
      posted by <%= post.user.full_name%> on <%= post.created_at.strftime("%d %b %Y") %>
    </section>
  </header>
  <section class='post-content'>
    <object class='uploaded-evidence'>
      <%= image_tag post.picture.url(:medium), class: 'uploaded-pic' if post.picture.present? %>
    </object>
    <article class='evidence-comments'>
      <% if post.comments.any? %>
        <% post.comments.reverse_each do |comment| %>
          <p><%= comment.comments %></p>
        <% end %>
      <% end %>
      <%= form_for [@event, post, @comment] do |f| %>
        <%= f.label :comments %>
        <%= f.text_area :comments %>
        <%= f.submit 'Submit' %>
      <% end %>
    </article>
  </section>
</article>