<article class='post-container'>
  <header class='post-header'>
    <section class='post-title'>
      <p class='post-caption'><%= post.caption %></p>
    </section>
    <section class='post-date'>
      <p class='posted-by'>Posted by <%= post.user.full_name%> on <%= post.created_at.strftime("%d %b %Y") %></p>
    </section>
  </header>
  <section class='post-content'>
    <object class='uploaded-evidence'>
      <%= image_tag post.picture.url(:medium), class: 'uploaded-pic' if post.picture.present? %>
    </object>

    <article class='evidence-comments'>
      <% if post.comments.any? %>
        <% post.comments.each do |comment| %>
          <p class='challenge-comment'><%= comment.comments %></p>
        <% end %>
      <% end %>
      <section class='post-comments-container'>
        <%= form_for [@event, post, @comment] do |f| %>
          <%= f.text_area :comments, id: 'comments-placeholder', placeholder: 'Leave a comment...' %>
          <%= f.submit 'Submit' %>
        <% end %>
      </section>
    </article>

  </section>
</article>