<div class="cd-timeline-block">
  <div class="cd-timeline-img <%= time_line_class(post) %>">
    <img src="<%= asset_path(time_line_image(post)) %>" alt="Picture">
  </div> <!-- cd-timeline-img -->

  <div class="cd-timeline-content">
    <h2><%= post.caption %></h2></br>
    <% if post.picture.present? %>
      <section class="picture-post">
        <%= image_tag post.picture.url(:medium), class: 'uploaded-pic'  %>
      </section>
      <% elsif post.video.present? %>
        <section class="video-post">
        <object width="297" height="206">
          <param name="movie"
                 value="https://www.youtube.com/v/<%=post.video_id%>?version=3&autoplay=0"></param>
          <param name="allowScriptAccess" value="always"></param>
          <embed src="https://www.youtube.com/v/<%=post.video_id%>?version=3&autoplay=0"
                 type="application/x-shockwave-flash"
                 allowscriptaccess="always"
                 width="297" height="206"></embed>
        </object>
         </section>
      <% elsif post.text.present? %>
      <article class="text-post">
        <p><%= post.text %></p>
      </article>
    <%end%>

    <a href="#0" class="cd-read-more">Comments</a>
    <span class="cd-date"><%= time_ago_in_words(post.created_at) %></span>
  </div>
</div>