<div class="cd-timeline-block">
  <div class="cd-timeline-img <%= time_line_class(post) %>">
    <img src="<%= asset_path(time_line_image(post)) %>" alt="Picture">
  </div> <!-- cd-timeline-img -->

  <div class="cd-timeline-content">
    <h2><%= post.caption %></h2></br>
        <% if post.is_owner?(current_user) %>
        <%= link_to 'Edit Post', edit_event_post_path(@event, post), class: 'edit-post' %>
        <%= link_to 'Delete Post', event_post_path(@event, post), class: 'delete-post', method: :delete %>
      <% end %>
    <% if post.picture.present? %>
      <section class="picture-post">
        <%= image_tag post.picture.url(:medium), class: 'uploaded-pic'  %>
      </section>
    <% elsif post.video.present? %>
        <section class="video-post">
        <object width="297" height="206">
          <param name="movie"
                 value="https://www.youtube.com/v/<%=post.video_id%>?version=3&autoplay=0"></param>
          <param name="allowScriptAccess" value="always"></param>
          <embed src="https://www.youtube.com/v/<%=post.video_id%>?version=3&autoplay=0"
                 type="application/x-shockwave-flash"
                 allowscriptaccess="always"
                 width="400" height="300"></embed>
        </object>
         </section>
    <%elsif post.url.present? %>
    <iframe id="mapmyfitness_route" src="<%=post.url%>" height="263px" width="100%" frameborder="0"></iframe>
    <% elsif post.text.present? %>
      <article class="text-post">
        <p><%= post.text %></p>
      </article>
    <%end%>
    <span class="cd-date">Posted by <%= post.event.user.full_name%> <%= time_ago_in_words(post.created_at) %> ago
    </span>
    <section class="comments-container">
      <% if post.comments.any? %>
      <section class="comments-list">

          <% post.comments.reverse_each do |comment| %>
            <article class="comment">
              <section class="comment-text"><%= comment.comments %>
                <section><strong><%= comment.user.full_name %></strong> - <%= time_ago_in_words(comment.created_at) %></section>
              </section>
            </article>
          <% end %>

      </section>
              <% end %>
      <section class='comments-input-container'>
        <%= form_for [@event, post, @comment] do |f| %>
          <%= f.text_field :comments, id: 'comments-placeholder', placeholder: 'Thoughts..?' %>
          <%= button_tag(type: 'submit', id: 'comment-submit-button') do %>
            <%= icon('comment') %>
          <% end %>
        <% end %>
      </section>
    </section>
  </div>
</div>
