<%= form_for [@event,@post], html: { multipart: true } do |f| %>
  <% if @post.errors.any? %>
    <article class="error_explaination">
      <%= pluralize(@post.errors.count, "error") %>
        prevent this event from being saved:
        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%=message%></li>
          <% end %>
        </ul>
    </article>
  <% end %>

	<%= f.label :caption %>
	<%= f.text_field :caption %>

  Choose the type of post :

	<%= f.label :picture %>
	<%= f.file_field :picture %>

    or </br>

  <%= f.label :video %>
  <%= f.text_field :video %>

    or </br>

  <%= f.label :text %>
  <%= f.text_field :text %>

	<%= f.submit %>

<% end %>
