<!DOCTYPE html>
<html>
<head>
  <title>ChallengeMe</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <section class="notifications">
    <%= notice %>
    <%= alert %>
  </section>
  <%= yield %> 
</body>
</html>
